{% extends 'base.html' %}
{% block content %}
<main>
    <div>
    <h1>{{recipe.name}}</h1>
    <div>
        <img src="{{recipe.image}}">
    </div>
    <div>
        <p>{{recipe.description}}</p>
        <h5>{{recipe.servings}}</h5>
    </div>
    <div>
        <p>{{recipe.ingredients.amount}} {{recipe.ingredients.measurement}} {{recipe.ingredients.name}}</p>
    </div>
    </div>
</main>
{% endblock content %}
