{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>{{subplan.title}}</h1>
        {% for sub in subplan.subplan.all %}
        <p>{{sub.title}}</p>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'checkout' %}"><button>
            Checkout
        </button></a>
    </div>
</main>
{% endblock content %}
