{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
<<<<<<< HEAD
    <div>
        <h1>Subscription Plan</h1>
        <table>
            <thead>
                <th>Subscription</th>
                <th>Prices</th>
            </thead>
            <tbody>
                {% for sub in subplan_list %}
                <tr>
                    <td>{{sub.title}}</a></td>
                    <td>
                        {{sub.price}}
                    </td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input
                            type="hidden"
                            name="sub_id"
                            value="{{sub.id}}"
                            />
                            <a href="{% url 'price_detail' sub.pk %}"><button type="button">Get started</button></a>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
=======
<div class="pricing-container">
    <div class="pricing-header">
        <h1 class="pricing-title">Our Subscriptions</h1>
            <div class="toggle">
                <label for="">Annually</label>
                <div class="toggle-btn">
                    <input type="checkbox" id="checkbox" class="checkbox">
                    <label for="checkbox" class="sub" id="suv">
                        <div class="circle"></div>
                    </label>
                </div>
                <label for="">Monthly</label>
        </div>
>>>>>>> 2e0333f6476abccce8752b5e617dd56be749cdcc
    </div>
    {% comment %} cards {% endcomment %}

    <div class="cards">
        <div class="card shadow">
            <ul class="pricing-list">
                <li class="pack pricing-li">Basic</li>
                <li id="basic" class="price bottom-bar pricing-li">
                    &dollar; 154.99
                </li>
                <li class="bottom-bar pricing-li">3 meals for 2 people per week</li>
                <li class="bottom-bar pricing-li">6 total servings</li>
                <li class="bottom-bar pricing-li"> 1 Free Meal </li>
                <li class="bottom-bar pricing-li">Price Per Serving &dollar; 25.83</li>
                <li class="pricing-li">
                    <button class="pricing-btn">Select This Plan</button>
                </li>
            </ul>
        </div>
        <div class="card active">
            <ul class="pricing-list">
                <li class="pack pricing-li">Recommended</li>
                <li id="basic" class="price bottom-bar pricing-li price-active">
                    &dollar; 254.99
                </li>
                <li class="bottom-bar pricing-li">6 meals for 2 people per week</li>
                <li class="bottom-bar pricing-li">12 total servings</li>
                <li class="bottom-bar pricing-li"> 3 Free Meals </li>
                <li class="bottom-bar pricing-li">Price Per Serving &dollar; 21.25 </li>
                <li class="pricing-li">
                    <button class="pricing-btn active-btn">Select This Plan</button>
                </li>
            </ul>
        </div>
        <div class="card shadow">
            <ul class="pricing-list">
                <li class="pack pricing-li">Premium</li>
                <li id="basic" class="price bottom-bar pricing-li">
                    &dollar; 354.99
                </li>
                <li class="bottom-bar pricing-li">10 meals for 2 people per week</li>
                <li class="bottom-bar pricing-li">20 total servings</li>
                <li class="bottom-bar pricing-li"> 5 Free Meals </li>
                <li class="bottom-bar pricing-li">Price Per Serving &dollar; 17.75</li>
                <li class="pricing-li">
                    <button class="pricing-btn">Select This Plan</button>
                </li>
            </ul>
        </div>
    </div>
</div>
</main>
{% endblock content %}


{% comment %} <ul>
    {% for sub in tsubscription_list %}
    <li>
        <a href="{% url 'price_detail' sub.pk %}">
        </a>
    </li>
    {% endfor %}
</ul> {% endcomment %}
