{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="center">
        <div class="login-container">
            <div class="login-text">Login Form</div>
            <form action="">
                {% csrf_token %}
                <div class="login-data">
                    <label for="">Email: </label>
                    <input type="text">
                </div>
                <div class="login-data">
                    <label for="">Password: </label>
                    <input type="password">
                </div>
                <div class="forgot-password"><a href="#">Forgot Password</a></div>
                <div class="login-btn">
                    <div class="inner"></div>
                    <button type="submit">login</button>
                </div>
            </form>
        </div>
    </div>

</main>


{% endblock content %}
