{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'script.js' %}">

    <title>Optimeal</title>
</head>
<body>
    <header class="header sticky" >
        <a href="{% url 'home' %}">
            <img class="logo" src="{% static 'images/homepage_img/logo.png' %}" alt="">
        </a>
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li>
                    <a class="main-nav-link" href="#">How it Works</a>
                </li>
                <li>
                    <a class="main-nav-link" href="{% url 'recipe_list' %}">Our Recipes</a>
                </li>
                <li>
                    <a class="main-nav-link" href="#">Testimonials</a>
                </li>
                <li>
                    <a class="main-nav-link" href="{% url 'price' %}">Pricing</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a class="main-nav-link" href="{% url 'basket' %}">Basket ({{ Basket.recipe_item.all | length }})</a>
                </li>
                <li>
                    <a class="main-nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
                {% else %}
                <li>
                    <a class="main-nav-link" href="{% url 'login' %}">Log in</a>
                </li>
                <li>
                    <a class="main-nav-link nav-cta" href="{% url 'signup' %}">Try for Free!</a>
                </li>

                {% endif %}
            </ul>
        </nav>
        {% block pagination %}
        {% endblock pagination %}
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>
