/*
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font weights:
Default:400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
small: 1.05
paragrahp default: 1.6

--- 02 COLORS

- PRIMARY: #efc88b
- Tint: 
- Shades: 
- Accents: #dd896e, #E87121
- Greys: #555 #333

--- 03 SHADOWS
--- 04 BORDER-RADIUS
--- 05 WHITESPACE

*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(192, 104, 64, 0.5);
}

/* html {
    font-size: 62.5%;
} */

/* GRID */

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
    align-items: center;
}

/* CENTER CONTENT CONTAINER */
.container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

strong {
    font-weight: 500;
}

/* HEADER SECTION */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c7a975;

    height: 7.4rem;
    padding: 0 3rem;
}

.logo {
    height: 5rem;
}

/* STICKY SECTION */
.sticky {
    position: sticky;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(187, 123, 102, 0.8);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0,0,0, 0.03);
}


/* NAVIGATION SECTION */

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    font-family: "Rubik";
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #ffffff;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    display: inline-block;
    color: #fff;
    padding: 1.2rem 2rem;
    border-radius: 0.4rem;
    border: 0.3rem solid #e6e6e6;
    background: transparent;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    color: #000;
    border: 0.3rem solid #000;
}


/* HERO SECTION */

.hero-container {
    max-width: 190rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.hero-img{
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 0;
    color: #fff;
    padding: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.heading-primary {
    font-family: "Rubik", sans-serif;
    line-height: 1.05;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #fff;
    margin-bottom: 4.6rem;
}

.heading-secondary {
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #000;
    font-size: 3.6rem;
    line-height: 1.2;
    font-family: "Rubik", sans-serif;
    margin-bottom: 9.6rem;
}

.heading-tertiary {
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #000;
    font-family: "Rubik", sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #d44515;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.hero-description {
    font-family: "Rubik";
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    font-family: sans-serif;
    color: #ffffff;
}

.btn--cta:link, .btn--cta:visited {
    color: #e6e6e6;
    font-size: 1.2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 0.4rem;
    transition: ease-out 0.3s;
    outline: none;
    font-family: "Rubik", sans-serif;
    border: 0.3rem solid #e6e6e6;
    background: transparent;
    text-decoration: none;
    position: relative;
    font-weight: 600;
}

.btn--cta:hover, .btn--cta:active {
    color: #e6e6e6;
    cursor: pointer;
    font-size: 150%;
    border: none;
    font-weight: 700;
}

/* FEATURED IN SECTION*/
.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #999;
}

.logos {
    display: flex;
    justify-content: space-around;
    filter: brightness(0);
    opacity: 50%;
}

.logo-img {
    height: 3.2rem;
}

/* HOW IT WORKS SECTION */
.section-how {
    padding: 9.6rem 4.6rem;
}

.step-number {
    font-family: "Rubik", sans-serif;
    font-size: 9.8rem;
    color: #e6e6e6;
    margin-bottom: 1.2rem;
}

.step-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-img-box::before {
    content: "";
    display: block;
    width: 60%;
    background-color: #c25f31;
    padding-bottom: 60%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(0%, -50%);
    border-radius: 50%;
    z-index: -2;
}

.step-img-box::after {
    content: "";
    display: block;
    background-color:#ddb3a2;
    width: 45%;
    padding-bottom: 45%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(0%, -50%);
    border-radius: 50%;
    z-index: -1;
    
}

.step-img {
    width: 35%;
}

.step-description {
    font-family: "Rubik", sans-serif;
    font-size: 1.8rem;
    line-height: 1.8;
}

/* FEATURED PRODUCTS SECTION */

.section-meals {
    padding: 9.6rem 4.6rem;
}

.meals-subheading {
    text-align: center;
}

.meals-heading-secondary {
    text-align: center;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #51cf66;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,.1);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-1.2rem);
    cursor: pointer;
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem;
}

.meal-tags {
    margin-bottom: 1.2rem;
}

.meal-title {
    font-family: "Rubik", sans-serif;
    font-size: 2rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-family: "Rubik", sans-serif;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #c25f31;
}

.meal-img {
    width: 100%;
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 4.6rem;
}

.recipes-all:link,
.recipes-all:visited {
    display: inline-block;
    text-decoration: none;
    color: #d44515;
    font-weight: 500;
    font-family: "Rubik";
    transition: ease-out 0.3s;
    position: relative;
}

.recipes-all:hover,
.recipes-all:active {
    color: #c48f7d;
    cursor: pointer;
    font-size: 120%;
    font-weight: 700;
}

/* TESTIMONIAL SECTION */

.section-testimonials {
    position: relative;
    min-height: 70vh;
    width: 100%;
    background: #c48f7d;
    overflow: hidden;
}

.testimonials-subheading {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 4vw;
    padding: 6rem;
    width: 100%;
    text-align: center;
    font-weight: 600; 
}

.testimonials-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonials-wrapper {
    position: relative;
    width: 35rem;
    color: #c48f7d;
    background: rgb(204, 182, 154);
    margin: 4rem 10rem;
    padding: 3rem 2rem;
    border-radius: 3px;
    transition: 0.3s ease;
}

.testimonials-profile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15%;
    width: 100%;
    display: block
}

.testimonials-img-box {
    position: relative;
    height: 8rem;
    width: 8rem;
    margin: auto;
    border: 8px solid #c48f7d;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials-img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: 0.3s ease; 
    object-fit: cover;
}

.testimonials-img:hover,
.testimonials-img:active {
    filter: saturate(140%);
    transform: scale(0.95);
    cursor: pointer;

}

.testimonials-name {
    padding: 0.5rem 0;
    text-transform: capitalize;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    font-size: 2.4rem;
}

.testimonials-description {
    margin-top: 5rem;
    color: #fff;
    padding: 0 0.8rem;
    font-size: 1.5rem;
    opacity: 0.8;
}

.testimonials-socials {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.testimonial-social-icon:link,
.testimonial-social-icon:visited {
    display: inline-block;
    transition: all 0.3s;
    font-size: 2rem;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    margin-top: 1.2rem;
}

.testimonial-social-icon:hover,
.testimonial-social-icon:active {
    color: #000;
}

/* CALL TO ACTION SECTION */
.section-cta {
    padding: 9.6rem 4.6rem;
}

.cta-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #c48f7d;
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.15);
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #c48f7d, rgb(190, 61, 61));
    overflow: hidden;
    
}

.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #2e1907;
}

.cta .heading-secondary {
    /* color: #2e1907; */
    margin-bottom: 3.2rem;
    color: inherit;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.8rem;
}

.cta-img-box {
    background-image: linear-gradient(to right bottom, rgba(232, 184, 155, 0.35), rgba(209, 112, 51, 0.35)),
    url('../images/cta/cta.jpg');
    background-size: cover;  
    background-position: center;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
    
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.cta-form input::placeholder {
    color: #aaa;
}

.cta-form button {
    display: inline-block;

    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-family: inherit;

    transition: all 0.3s;
}

.btn--form {
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    padding: 1.2rem;
}

.btn--form:hover {
    background-color: #fff;
    color: #555;
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(250, 248, 247, 0.5);
}

/* FOOTER SECTION */

.footer {
    padding: 8rem 0 6.4rem;
    border-top:  1px solid #ddd;
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    height: 5rem;
    display: block;
    margin-bottom: 1.6rem;
}

.footer-social-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
}

.footer-social-icon{
    height: 2rem;
    width: 2rem;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited  {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: rgb(63, 63, 63);
}

/* PRICING SECTION */
.pricing-container {
    width: 80%;
    margin: 0 auto;
    padding: 1.2rem 0 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.pricing-header {
    color: hsl(233, 13%, 49%);
    margin: 2.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-title{
    font-size: 2.4rem;
}

.toggle {
    margin-top: 2rem;
    color: hsl(41, 55%, 46%);
    display: flex;
    align-items: center;
}

.toggle-btn {
    margin: 0 1rem;
}

.checkbox {
    display: none;
}

.sub {
    background: linear-gradient(
        135deg,
        rgb(221, 184, 60) 0%,
        rgb(163, 123, 62) 100%
    );
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.6rem;
    width: 3.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
}

.circle {
    background-color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

.checkbox:checked + .sub {
    justify-content: flex-end;
}

/* cards */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fdf2e9;
    color: hsl(233,13%, 49%);
    border-radius: 0.8rem;
}

.cards .card.active {  
    background: linear-gradient(
        135deg,
        rgb(223, 179, 128) 0%,
        rgb(212, 160, 48) 100%
    );
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
}

.pricing-list {
    margin: 2.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pricing-li {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

.pricing-li.price {
    font-size: 3rem;
    color: hsl(39, 44%, 54%);
    padding-bottom: 2rem;
}

.shadow {
    box-shadow: -5px 5px 15px 1px rgba(0,0,0, 0.15);
}

.card.active .price {
    color: #fff;
}

.pricing-btn {
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(
        135deg,
        rgb(241, 229, 201) 0%,
        rgb(209, 136, 51) 100%
    );
    color: #fff;
    outline: none;
    border: 0;
    font-weight: bold;
}

.active-btn {
    background: #fff;
    color: hsl(39, 44%, 54%);
}

.bottom-bar {
    border-bottom: 1px solid hsl(39, 44%, 54%);
}

.card.active .bottom-bar{
    border-bottom: 1px solid rgba(27, 27, 27, 0.253);
}

.pack {
    font-size: 1.8rem;
}