<<<<<<< HEAD
{% extends 'base.html' %}
{% block content %}
<main>
    <h1>You Recipe Basket</h1>
    <div>
        <ul>
            {% for item in basket_list %}
            <li>{{item.recipe_item}}</li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock content %}
=======
{% extends 'base.html' %}
{% block content %}
<main>
    <h1>You Recipe Basket</h1>
    <div>
        <ul>
            {% for item in basket_list %}
            <li>{{item.recipe_item}}</li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock content %}
>>>>>>> 28538822537e17c6b29dc5759d80c92b4d0e425f
