{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="section-hero" >
        <div class="hero-container" >
            <img class="hero-img" src="{% static 'images/homepage_img/hero.jpg' %}" alt="woman enjoying her meal and food on the table">
            <div class="hero-text">
                <div>
                    <h1 class="heading-primary">A healthy delicious meal delivered to your door</h1>
                    <p class="hero-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, sapiente dolores optio quibusdam nostrum error corrupti porro sit sunt cum beatae voluptatem animi deserunt consequuntur eius id? Quisquam, dolores nisi.
                    </p>
                    <a href="" class="btn--cta" >CHECK OUR RECIPES</a>
                </div>
            </div>

        </div>
    </section>
    <section class="section-featured" id="">
        <div class="container">
            <h2 class="heading-featured-in">As featured in</h2>
            <div class="logos">
                <img class="logo-img" src="{% static 'images/logos/business-insider.png' %}" alt="">
                <img class="logo-img" src="{% static 'images/logos/forbes.png' %}" alt="">
                <img class="logo-img" src="{% static 'images/logos/techcrunch.png' %}" alt="">
                <img class="logo-img" src="{% static 'images/logos/the-new-york-times.png' %}" alt="">
                <img class="logo-img" src="{% static 'images/logos/usa-today.png' %}" alt="">
            </div>
        </div>
    </section>
    <section class="section-how" >
        <div class="container" >
            <span class="subheading">How It Works</span>
            <h2 class="heading-secondary">
                Start Cooking Delicious Healthy Meals in 3 Easy Steps
            </h2>
        </div>
        <div class="container grid grid--2-cols grid--center-v">

            <!-- STEP 01 -->
            <div class="step-text-box">
                <p class="step-number">01</p>
                <h3 class="heading-tertiary">
                    Tell us what you like <br>(and what not)
                </h3>
                <p class="step-description">
                    Never again waste time thinking about what to eat! Omnifood AI will create a 100% personalized weekly meal plan just for you. It makes sure you get all the nutrients and vitamins you need, no matter what diet you follow!
                </p>
            </div>

            <!-- STEP 02 -->
            <div class="step-img-box">
                <img src="{% static 'images/app_img/app-screen-1.png' %}" class="step-img" alt="iPhone app preferred additional ingredients selection screen">
            </div>
            <div class="step-img-box">
                <img src="{% static 'images/app_img/app-screen-2.png' %}" class="step-img" alt="iPhone app confirming order plan screen">
            </div>
            <div class="step-text-box">
                <p class="step-number">02</p>
                <h3 class="heading-tertiary">
                    Approve your weekly meal plan
                </h3>
                <p class="step-description">
                    Once per week, approve the meal plan generated for you by Omnifood AI. You can change ingredients, swap entire meals, or even add your own recipes.
                </p>
            </div>

            <!-- STEP 03 -->
            <div class="step-text-box">
                <p class="step-number">03</p>
                <h3 class="heading-tertiary">
                    Receive meals at convenient time
                </h3>
                <p class="step-description">
                    Best chefs in town will cook your selected meal every day, and we will deliver it to your door whenever works best for you. You can change delivery schedule and address daily!
                </p>
            </div>
            <div class="step-img-box">
                <img src="{% static 'images/app_img/app-screen-3.png' %}" class="step-img" alt="iPhone app confirming delivery address and time screen">
            </div>
        </div>
    </section>
<<<<<<< HEAD
    <div>
        <ul>
            {% for product in recipe_list %}
            <li>
                <a href="">Product 1</a>
            </li>
            <li>
                <a href="">Product 2</a>
            </li>
            <li>
                <a href="">Product 3</a>
            </li>
            <li>
                <a href="">Product 4</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <p>Testimonials</p>
    </div>
    <div>
        <p>Call to Action</p>
    </div>
    <div>
        <footer>
            <p>Footer</p>
        </footer>
    </div>
=======
    <section class="section-meals" id="featured=products">
        <div class="container">
            <span class="subheading meals-subheading">Meals</span>
            <h2 class="heading-secondary meals-heading-secondary">
                Optimeal offers 500+ recipes to choose from!
            </h2>
            <div class="container grid grid--3-cols">
                <div class="meal">
                    <img class="meal-img" src="{% static 'images/recipe_img/sushi.jpg' %}" alt="Sushi">
                    <div class="meal-content">
                        <div class="meal-tags">
                            <span class="tag">Vegetarian</span>
                        </div>
                        <p class="meal-title">
                            Sushi
                        </p>
                        <ul class="meal-attributes">
                            <li class="meal-attribute"><ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                            <span class=""> <strong>600</strong> calories</span>
                            </li>
                            <li class="meal-attribute"><ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
                                <span> Nutriscore &reg <strong> 74 </strong> </span> </li>
                            <li class="meal-attribute"><ion-icon class="meal-icon" name="star-outline"></ion-icon>
                                <span>
                            <strong>4.9</strong>
                            rating (550)</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="meal">
                    <img class="meal-img" src="{% static 'images/recipe_img/dessert.jpg' %}" alt="Sushi">
                    <div class="meal-content">
                        <div class="meal-tags">
                            <span class="tag">Vegetarian</span>
                        </div>
                        <p class="meal-title">
                            Tiramisu
                        </p>
                        <ul class="meal-attributes">
                            <li class="meal-attribute"><ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                            <span class=""> <strong>600</strong> calories</span>
                            </li>
                            <li class="meal-attribute"><ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
                                <span> Nutriscore &reg <strong> 74 </strong> </span> </li>
                            <li class="meal-attribute"><ion-icon class="meal-icon" name="star-outline"></ion-icon>
                                <span>
                            <strong>4.9</strong>
                            rating (550)</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="meal">
                    <img class="meal-img" src="{% static 'images/recipe_img/burger.jpg' %}" alt="Sushi">
                    <div class="meal-content">
                        <div class="meal-tags">
                            <span class="tag">Vegetarian</span>
                        </div>
                        <p class="meal-title">
                            Burger
                        </p>
                        <ul class="meal-attributes">
                            <li class="meal-attribute"><ion-icon class="meal-icon" name="flame-outline"></ion-icon>
                            <span class=""> <strong>600</strong> calories</span>
                            </li>
                            <li class="meal-attribute"><ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
                                <span> Nutriscore &reg <strong> 74 </strong> </span> </li>
                            <li class="meal-attribute"><ion-icon class="meal-icon" name="star-outline"></ion-icon>
                                <span>
                            <strong>4.9</strong>
                            rating (550)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container all-recipes">
            <a class="recipes-all" href="{%  url 'recipe_list' %}">See all recipes &rarr;</a>
        </div>
    </section>
    <section class="section-testimonials">
        <div class="container testimonials-container">
            <span class="subheading testimonials-subheading">Testimonials</span>
            <div class="testimonials-wrapper">
                <div class="testimonials-profile">
                    <div class="testimonials-img-box">
                        <img class="testimonials-img" src="{% static 'images/faces_img/steve.jpg' %}" alt="">
                    </div>
                    <h2 class="testimonials-name">John Doe</h2>
                </div>
                <p class="testimonials-description">" Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum vel, adipisci esse perferendis natus distinctio fugiat culpa nostrum odio corrupti quis voluptatem accusantium eius laudantium doloremque, aperiam ea delectus incidunt? "
                </p>
                <div class="social">
                    <ul class="testimonials-socials">
                        <li class="testimonials-social">
                            <a class="testimonial-social-icon" href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>

                        </li>
                        <li>
                            <a class="testimonial-social-icon" href="https://twitter.com/?lang=en"><ion-icon name="logo-twitter"></ion-icon></a>

                        </li>
                        <li>
                            <a class="testimonial-social-icon" href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="testimonials-wrapper">
                <div class="testimonials-profile">
                    <div class="testimonials-img-box">
                        <img class="testimonials-img" src="{% static 'images/faces_img/face2.jpg' %}" alt="">
                    </div>
                    <h2 class="testimonials-name">Jane Snow</h2>
                </div>
                <p class="testimonials-description">" Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum vel, adipisci esse perferendis natus distinctio fugiat culpa nostrum odio corrupti quis voluptatem accusantium eius laudantium doloremque, aperiam ea delectus incidunt? "
                </p>
                <div class="social">
                    <ul class="testimonials-socials">
                        <li class="testimonials-social">
                            <a class="testimonial-social-icon" href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>

                        </li>
                        <li>
                            <a class="testimonial-social-icon" href="https://twitter.com/?lang=en"><ion-icon name="logo-twitter"></ion-icon></a>

                        </li>
                        <li>
                            <a class="testimonial-social-icon" href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>

                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </section>
    <section class="section-cta">
        <div class="container cta-container">
            <div class="cta">
                <div class="cta-text-box">
                    <h2 class="heading-secondary">
                        Get you first meal for FREE!
                    </h2>
                    <p class="cta-text">Healthy, tasty and easy to cook meals are waiting for you. Start eating well today. You can cancel or pause anytime. And the first meal is on us!</p>
                    <form class="cta-form" action="#">
                        <div>
                            <label for="full-name">Full Name:</label>
                            <input id="full-name" type="text" placeholder="Your Full Name" required >
                        </div>
                        <div>
                            <label for="email">Email Address:</label>
                            <input id="email" type="email" placeholder="name@email.com" required>
                        </div>
                        <div>
                            <label for="select-where">Where did you hear about us?</label>
                            <select id="select-where" required>
                                <option value="">Please choose one option:</option>
                                <option value="friends-and-family" >Friends and Family</option>
                                <option value="twitter" >Tweet</option>
                                <option value="instagram" >Instagram Ad</option>
                                <option value="youtube" >Youtube Video</option>
                                <option value="podcast" >Podcast</option>
                                <option value="others" >Others</option>
                            </select>
                        </div>

                        <button class="btn--form">Sign Up Now</button>
                    </form>
                </div>
            </div>
            <div class="cta-img-box" role="img" aria-label="a couple preparing a salad"></div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
>>>>>>> 0eb9e1aaf14393144bf933d4b6353bb5205a1423
</main>
<footer class="footer">
    <div class="container grid grid--footer">
        <div class="logo-col">
            <a href="#" class="footer-logo">
                <img class="footer-logo" src="{% static 'images/homepage_img/logo.png' %}" alt="Optimeal Logo">
            </a>
            <ul class="footer-social-links">
                <li><a class="footer-link" href="#"><ion-icon class="footer-social-icon" name="logo-youtube"></ion-icon></a></li>
                <li><a class="footer-link" href="#"><ion-icon class="footer-social-icon" name="logo-instagram"></ion-icon></a></li>
                <li><a class="footer-link" href="#"><ion-icon class="footer-social-icon" name="logo-instagram"></ion-icon></a></li>
                <li><a class="footer-link" href="#"><ion-icon class="footer-social-icon" name="logo-tiktok"></ion-icon></a></li>
            </ul>
            <p class="copyright">Copyright &copy; 2022 by Optimeal, Inc. All rights reserved.</p>
        </div>
        <div class="address-col">
            <p class="footer-heading">Contact Us</p>
            <address class="contacts">
                <p>
                    623 Harrison St., 2nd Floor, San Francisco, CA 94107
                </p>
                <p>
                    <a class="footer-link" href="tel:415-201-6370">415-201-6370</a>
                    <a class="footer-link" href="mailto:                    hello@optimeal.com
                    ">hello@optimeal.com
                </a>
                </p>
            </address>
        </div>
        <nav class="nav-col">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
                <li><a class="footer-link"footer-link href="#">Create Account</a></li>
                <li><a  class="footer-link" href="#">Sign In</a></li>
                <li><a class="footer-link" href="#">iOS App</a></li>
                <li><a class="footer-link" href="#">Android App</a></li>
            </ul>
        </nav>
        <nav class="nav-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">About Optimeal</a></li>
                <li><a class="footer-link" href="#">For Business</a></li>
                <li><a class="footer-link" href="#">Our Partners</a></li>
                <li><a class="footer-link" href="#">Careers</a></li>
            </ul>
        </nav> <nav class="nav-col">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
                <li><a class="footer-link" href="#">Recipe Directory</a></li>
                <li><a class="footer-link" href="#">Help Center</a></li>
                <li><a class="footer-link" href="#">Privacy & Terms</a></li>
            </ul>
        </nav>
    </div>
</footer>
{% endblock content %}
